.calculator .col-12 .py-5{
    background-color: white;
    padding: 20px;
    border: 2px black solid;
    border-radius: 500px;
}
.ques{
    color: white;
}
.addsupplier{
    background-color: darkgreen;
    color: black;
}
#Login , #signup{
    color: #1a1f71;
    font-weight: 700;
}
#visa , #log {
    color: #1a1f71;
}
#margin-left{
    margin-left: 120px;
}
#supplier{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
#faded{
    background-color: #fdbb0a;
    color: black;
    border-width: 0px;
    float:right;
}
#supply{
    font-size: 23px;
    font-weight: 500;
}
#single{
    max-width: 40%;
    
}
 
#shift{
    float: right;
    margin-right: 300px;
}
#next{
    float: right;
    margin-bottom: 40px;
}