.calculator .col-12 .py-5{
    background-color: white;
    padding: 20px;
    border: 2px black solid;
    border-radius: 500px;
}
.ques{
    color: white;
}
.addsupplier{
    background-color: darkgreen;
    color: black;
}
#Login , #signup{
    color: #1a1f71;
    font-weight: 700;
}
#visa , #log{
    color: #1a1f71;
}